@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  ::selection {
    color: #fff;
    background: #eab403;
  }
    .flow-bg {
      animation-name: bgflow;
      animation-duration: 24s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes bgflow {
      0% {
        background-position: 0%;
      }
    
      100% {
        background-position: 100%;
      }
    }
    .move-in {
      opacity: 0;
      animation-name: moveUp;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
    @keyframes moveUp {
      0% {
        opacity: 0;
        transform: translateX(50px);
      }
    
      100% {
        opacity: 1;
        transform: translateX(0px);
      }
    }
    
}
@layer components {
    .design-box {
      @apply transition-all basis-1/3 hover:basis-4/5 px-5 duration-700;
    }
    
  }